/* Elements */
body {
    background-color: #ffffff;
}

/* Menu */
.menu1>img {
    padding: 7px 14px;
}
.menu1 {
    max-width: 900px;
    margin: 0 auto;
}
.menu1 a {
    font-weight: bold;
}

.menu1 a:hover {
    color: #A6CE3A !important;
}
.menu1 input, .menu1 span {
    display:none;
}

/* Background Image Fix */
.bg-fix { top:0; left:0; right:0; bottom:0; z-index: -1; }
.bg-fix-getintouch { top:0; left:0; right:0; bottom:0; z-index: -1; }

/* Code Biscuit Specifics */
.cb-green-color { color: #A6CE3A !important; }
.cb-green-bgcolor { background-color: #A6CE3A; }

.cb-blue-color { color: #2A2567; }
.cb-blue-bgcolor { background-color: #2A2567; }

/* Header */
.header {
    margin-bottom: 1.45rem;
    background-color: rgba(42,37,103,0.8);
    padding-top: 1rem;
}
.header-opaque {
    margin-bottom: 1.45rem;
    background-color: #2A2567;
}

/* Footer */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 1.45rem;
    padding-top: 1.5rem;
    background-color: white;
}
.footer-text {
    margin: 0 1rem;
    text-transform: uppercase;
}
.footer-segment-left {
    float: left;
    padding-right: 1em;
}
.footer-segment-right {
    float: right;
    padding-left: 1em;
}
.footer-image {
    clear: left;
}
.footer-subtitle {
    font-weight: bold;
}
.footer-link a {
    text-decoration: none;
}
.footer-link a:hover {
    font-weight: bold !important;
}

/* Content */
.content-main {
    max-width: 900px;
    margin: 0 auto;
}
.content-page {
    max-width: 500px;
    margin-top: 4rem;
}
.content-page-light {
    color: white;
    background-color: rgba(0,0,0,.5);
    padding: 1rem;
}
.content-page-dark {
    color: #333;   
}
.text-big {
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.text-regular {
    margin-bottom: 1rem;
}

button {
    color: #A6CE3A;
    border: 1px solid #A6CE3A;
    background-color: rgba(255,0,0,0);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 25px;
    line-height: 2em;
    cursor: pointer;
}

button:hover {
    color: #BAE542;
}

/******************
    SMALL VIEWS
    - IMPORTANT: All general css to be put above this
******************/
@media screen and (max-width: 900px) {
    .small-screen-hide {
        display: none;
    }
    .small-screen-show {
        display: block;
    }

    /* What to do with the header? */
    .header {
        padding-top: 0px !important;
    }

    /* Menu */
    .menu1 {
        display: block;
        position: absolute;
        margin: inherit;
        top: 20px;
        left: 40px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        /*height: 100%;
        overflow: hidden;*/
    }
    .menu1 input {
        display: block !important;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    /* Hamburger */
    .menu1 span {
        display: block !important;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
                    opacity 0.55s ease;
    }
    .menu1 span:first-child {
        transform-origin: 0% 0%;
    }
    .menu1 span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* Cross */
    .menu1 input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #cdcdcd;
    }
    .menu1 input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .menu1 input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /* Top Left */
    .menu1 nav {
        flex-direction: column;
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 95px;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        background-color: #2A2567;
        align-items: stretch !important;
    }
    .menu1 input:checked ~ nav {
        transform: none;
    }

    /* Footer in small views */
    .footer {
        position: relative;
        bottom: inherit;
    }
    .footer-text div {
        float: none;
        padding-left: 1em;
        padding-right: 0;
    }

    /* Background Image Fix */
    .bg-fix { height: 600px !important;}
    .bg-fix-getintouch { height: 1100px !important;}
}